.breadcrumbs(hide-gt-md)
  md-button.md-primary.md-raised(ui-sref="restaurant.index")
    i.fa.fa-arrow-left
    span Restaurants

form(layout='row' layout-align='start center' layout-wrap ng-submit='restaurantCtrl.user.role === "admin" && restaurantCtrl.updateRestaurant();')
  md-input-container(flex='100')
    label Name
    input(type='text' required='required' ng-readonly='restaurantCtrl.user.role !== "admin"' ng-model='restaurantCtrl.restaurant.name')
  md-input-container(flex='100')
    label Street
    input(type='text' required='required' ng-readonly='restaurantCtrl.user.role !== "admin"' ng-model='restaurantCtrl.restaurant.street')
  md-input-container(flex='50' flex-gt-sm='50')
    label City
    input(type='text' required='required' ng-readonly='restaurantCtrl.user.role !== "admin"' ng-model='restaurantCtrl.restaurant.city')
  md-input-container(flex='50')
    md-select(placeholder='State' ng-disabled='restaurantCtrl.user.role !== "admin"' ng-model='restaurantCtrl.restaurant.state_abbreviation')
      md-option(ng-repeat='state in restaurantCtrl.states' value='{{state.abbreviation}}') {{state.name}}
  md-input-container(flex='50')
    md-select(placeholder='Country' ng-disabled='restaurantCtrl.user.role !== "admin"' ng-model='restaurantCtrl.restaurant.country_abbreviation')
      md-option(ng-repeat='country in restaurantCtrl.countries' value='{{::country.abbreviation}}') {{::country.name}}
  md-input-container(flex='50')
    label ZipCode
    input(type='text' required='required' ng-readonly='restaurantCtrl.user.role !== "admin"' ng-model='restaurantCtrl.restaurant.zipcode')

  md-chips(flex='100' ng-model="restaurantCtrl.restaurant.tags" readonly='restaurantCtrl.user.role !== "admin"')
    md-autocomplete(
    md-selected-item="restaurantCtrl.selectedTag"
    md-search-text="restaurantCtrl.tagSearchText"
    md-items="tag in restaurantCtrl.tagQuerySearch(restaurantCtrl.tagSearchText)"
    md-item-text="tag.readable_name"
    md-autoselect="true"
    placeholder="Add Tag")
      span(md-highlight-text="restaurantCtrl.tagSearchText") {{tag.readable_name}}
    md-chip-template
      span {{$chip.readable_name}}

  md-switch.md-primary(ng-if='restaurantCtrl.user.role === "admin"' ng-model='restaurantCtrl.restaurant.active') Active

  .controls(flex='100' ng-if='restaurantCtrl.user.role === "admin"')
    lunchadores-form-errors(errors='restaurantCtrl.errors')
    lunchadores-submit-button(is-submit='' button-text='Update')
